.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px;
  background-color: oldlace;
  border-radius:16px;
  position: fixed;
  margin: 10px;
  padding:0; 
  top: 0;
  left: 0;
  width: 99%;
  z-index:1000; 
  
}

.logo img {
  height: 70px; /* Adjust height to fit your navbar proportionally */
  width: 320px;
}

.nav-links {
  display: flex;
  list-style: none;
  font-family: Arial, Helvetica, sans-serif;
  gap: 20px;
  
}

nav ul li a{
  text-decoration: none;
  color:#C59B73;
  padding: 20px 20px;
  text-decoration:none;
}

nav ul li a:hover{
  background-color: #C59B73;
    color: white;
    border-radius: 14px;
    text-decoration: none;
}

body{
    /* background-image: url(https://as2.ftcdn.net/v2/jpg/06/27/34/05/1000_F_627340543_sV00hf9jKzbTFOwuzLl2sTzxu6uOadYM.jpg); 
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    z-index:-2; */
   
   
    background:white;
    z-index:0;
    /* background-position-y:bottom;
    z-index: -1; */
}


/* Header/Introduction */
h1{
  display:flex;
  align-items: center; 
  justify-content: center;
  color:black;
  margin-top: 13%;
}

h4{
  display:flex;
  align-items: center; 
  justify-content: center;
  color:white;
}

 body{
  background-color: white;
}

/* About/Vision */

h1{
  color:#C59B73;
  margin-top:10%;
  text-align:center;
}

.titles{
display:flex;
justify-content:space-around;
color:#C59B73;
}

.container {
  display: flex;       
  gap: 20px;
  color:#C59B73;
  

}

.box{
  flex: 1;  
  margin-top: 2%;          
  background:oldlace;
  border-radius:10px;
  padding: 20px;
  transition:all .25s ease;
}

.box:hover{
transform:translateY(-10px);
}