.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px;
  background-color: oldlace;
  border-radius:16px;
  position: fixed;
  margin: 10px;
  padding:0; 
  top: 0;
  left: 0;
  width: 99%;
  z-index:1000; 
  
}

.logo img {
  height: 70px; /* Adjust height to fit your navbar proportionally */
  width: 320px;
}

.nav-links {
  display: flex;
  list-style: none;
  font-family: Arial, Helvetica, sans-serif;
  gap: 20px;
  
}

nav ul li a{
  text-decoration: none;
  color:#C59B73;
  padding: 20px 20px;
  text-decoration:none;
}

nav ul li a:hover{
  background-color: #C59B73;
    color: white;
    border-radius: 14px;
    text-decoration: none;
}

body{
  background:white;
  color:#C59B73;
}

h1{
  margin-top: 100px;
  text-align: center;
}

h2{
  text-align:center;
}

#quiz{
  margin-top:50px;
  padding:20px;
  background-color:oldlace;
  border: none;
  border-radius: 10px;
  padding:10px;
  margin:25px
}

#quiz2{
  margin-top: -7%;
  padding: 20px;
  background-color:oldlace;
  border: none;
  border-radius:10px;
  padding: 10px;
  margin:25px;
  text-align:right;
}

button {
  margin:20px;
  padding:10px 25px;
  border-radius: 10px;
  color: #C59B73;

  
  
} 

#subbtn{
background:oldlace;
border:none;
cursor:pointer;
transition:all .25s ease;
}

#subbtn:hover{
transform:translateY(-3px);
background:#C59B73;
color:white;
}

#subbtn:active{
transform:translateY(1px);
}